[Unit]
Description=upload.a.video/toDiscord
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node src/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target